::-moz-selection { /* Code for Firefox */
    color: $white;
    background-color: $primary;
}

::selection {
    color: $white; 
    background-color: $primary;
}

.collapse{
  display:none;
  &.in{
    display:block;
  }
} 
.no-list-style{
  list-style:none;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;

  &.in {
    opacity: 1;
  }
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
     transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
     transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
     transition-timing-function: ease;
}
.clearfix{
  @include clearfix();
} 

//button styling
.btn {
    display: inline;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-transform:uppercase;
    margin: .375rem;
    @include no-select();
    @include border-all( 1px, solid, transparent);
    @include padding(.600rem, 1rem, .600rem, 1rem);
    @include rhythm(16, 20);
    @include border-radius(0.25rem);
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;

  &-primary{
    border-color: $primary;
    background-color: $primary;
    color: $white;

    &:hover{
      background-color: transparent;
      color:$primary;
    }

    &.btn-shadow{
      color:$white;
      background-color: $primary;
    }
  }
  
  &-outline-primary {
      border: 2px solid $primary;
      background-color: transparent;
      color: $primary;
  
      &:hover{
        background-color: $primary;
        color:$white;
      }
      &.btn-shadow{
        color:$primary;
        background-color: transparent;
      }
  }
  &-default{
      border-color: $default;
      background-color: $default;
      color: $white;
  
      &:hover{
        background-color: transparent;
        color:$default;
      }
      &.btn-shadow{
        background-color: $default;
        color: $white;
      }
  }
  &-outline-default {
      border: 2px solid $default;
      background-color: transparent;
      color: $default;
  
      &:hover{
        background-color: $default;
        color:$white;
      }
      &.btn-shadow{
        background-color: transparent;
        color: $default;
      }
  }
  &-secondary{
      border-color: $secondary;
      background-color: $secondary;
      color: $white;
  
      &:hover{
        background-color: transparent;
        color:$secondary;
      }
      &.btn-shadow{
        background-color: $secondary;
        color: $white;
      }
  }
  &-outline-secondary {
      border: 2px solid $secondary;
      background-color: transparent;
      color: $secondary;
  
      &:hover{
        background-color: $secondary;
        color:$white;
      }
      &.btn-shadow{
        background-color: transparent;
        color: $secondary;
      }
  }
  &-success{
      border-color: $success;
      background-color: $success;
      color: $white;
  
      &:hover{
        background-color: transparent;
        color:$success;
      }
      &.btn-shadow{
        background-color: $success;
        color: $white;
      }
  }
  &-outline-success {
      border: 2px solid $success;
      background-color: transparent;
      color: $success;
  
      &:hover{
        background-color: $success;
        color:$white;
      }
      &.btn-shadow{
        background-color: transparent;
        color: $success;
      }
  }
  &-info{
      border-color: $info;
      background-color: $info;
      color: $white;
  
      &:hover{
        background-color: transparent;
        color:$info;
      }
      &.btn-shadow{
        background-color: $info;
        color: $white;
      }
  }
  &-outline-info {
      border: 2px solid $info;
      background-color: transparent;
      color: $info;
  
      &:hover{
        background-color: $info;
        color:$white;
      }
      &.btn-shadow{
        background-color: transparent;
        color: $info;
      }
  }
  &-warning{
      border-color: $warning;
      background-color: $warning;
      color: $white;
  
      &:hover{
        background-color: transparent;
        color:$warning;
      }
      &.btn-shadow{
        background-color: $warning;
        color: $white;
      }
  }
  &-outline-warning {
      border: 2px solid $warning;
      background-color: transparent;
      color: $warning;
  
      &:hover{
        background-color: $warning;
        color:$white;
      }
      &.btn-shadow{
        background-color: transparent;
        color: $warning;
      }
  }
  &-danger{
      border-color: $danger;
      background-color: $danger;
      color: $white;
  
      &:hover{
        background-color: transparent;
        color:$danger;
      }
      &.btn-shadow{
        background-color: $danger;
        color: $white;
      }
  }
  &-outline-danger {
      border: 2px solid $danger;
      background-color: transparent;
      color: $danger;
  
      &:hover{
        background-color: $danger;
        color:$white;
      }
      &.btn-shadow{
        background-color: transparent;
        color: $danger;
      }
  }
  
  &-black{
      border-color: $black;
      background-color: $black;
      color: $white;
  
      &:hover{
        background-color: transparent;
        color:$black;
      }
      &.btn-shadow{
        background-color: $black;
        color: $white;
      }
  }
  &-outline-black {
      border: 2px solid $black;
      background-color: transparent;
      color: $black;
  
      &:hover{
        background-color: $black;
        color:$white;
      }
      &.btn-shadow{
        background-color: transparent;
        color: $black;
      }
  }
  &-lg{
    @include padding(0.7rem, 2rem,0.7rem, 2rem);
  }
  &-sm{
    @include padding(0.4rem, 1rem, 0.4rem, 1rem);
  }
  &-rounded{
    @include border-radius(30px);
  }
  &.disabled{
      pointer-events: none;
      @include opacity(.65);
  }

  &-shadow{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    &:hover{
      -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
      box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
      outline: 0;
    }
  }


  &-floating {
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    @include transition(transtion, all .2s ease-in-out);
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    i{
      display: inline-block;
      width: inherit;
      text-align: center;
      color: $white;
      font-size: 1.25rem;
      line-height: 47px;
    }
  }

  .fa{
    position: relative;
    font-size: .9rem;
    &.left {
      margin-right: .3rem;
    }
  }

  &-fb {
    background-color: $facebook_color;
    color: $white;
    font-size: .80rem;
  }
  &-tw {
    background-color: $twitter_color;
    color: $white;
    font-size: .80rem;
  }
  &-gplus {
    background-color: $google_plus_color;
    color: $white;
    font-size: .80rem;
  } 
  &-yt {
    background-color: $youtube_color;
    color: $white;
    font-size: .80rem;
  }

  &-li {
    background-color: $linkedin_color;
    color: $white;
    font-size: .80rem;
  }
  &-pin {
    background-color: $pinterest_color;
    color: $white;
    font-size: .80rem;
  }
  &-ins {
    background-color: $instagram_color;
    color: $white;
    font-size: .80rem;
  }
  &-git {
    background-color: $github_color;
    color: $white;
    font-size: .80rem;
  }
  &-comm {
    background-color: $comments-color;
    color: $white;
    font-size: .80rem;
  }
  &-so {
    background-color: $stack_overflow_color;
    color: $white;
    font-size: .80rem;
  }

  &-slack {
    background-color: $slack_color;
    color: $white;
    font-size: .80rem;
  }
  &-email {
    background-color: $email_color;
    color: $white;
    font-size: .80rem;
  }

}

.fb-icon {
    color: $facebook_color;
}
.tw-icon {
    color: $twitter_color;
}
.gplus-icon {
    color: $google_plus_color;
}
.li-icon {
    color: $linkedin_color;
}
.ins-icon {
    color: $instagram_color;
}
.pin-icon {
    color: $pinterest_color;
}
.yt-icon {
    color: $youtube_color;
}
.so-icon {
    color: $stack_overflow_color;
}
.slack-icon {
    color: $slack_color;
}
.git-icon {
    color: $github_color;
}
.comm-icon {
    color: $comments-color;
}
.email-icon {
    color: $email_color;
}

.counter {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  position: absolute;
  z-index: 2;
  margin-top: 0;
  margin-left: -23px;
  -webkit-border-radius: 10em;
  border-radius: 10em;
  padding: 1px 7px;
  background-color: $counter_color;
  font-size: 11px;
  color: $white;
  left: auto;
}



.center-block {
  @include center-block();
}
.pull{
  &-right {
    float: right !important;
  }
  &-left {
    float: left !important;
  }
}
.hide,.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.affix {
  position: fixed;
}

.text{
  &-justify {
    text-align: justify;
  }
  &-nowrap {
    white-space: nowrap;
  }
  &-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  @include mob{
    &-sm-left {
      text-align: left;
    }
    &-sm-right {
      text-align: right;
    }
    &-sm-center {
      text-align: center;
    }
  }
  @include tab-screen{
    &-md-left {
      text-align: left;
    }
    &-md-right {
      text-align: right;
    }
    &-md-center {
      text-align: center;
    }
  }
  @include mid-screen{
    &-lg-left {
      text-align: left;
    }
    &-lg-right {
      text-align: right;
    }
    &-lg-center {
      text-align: center;
    }
  }
  @include large-screen{
    &-xl-left {
      text-align: left;
    }
    &-xl-right {
      text-align: right;
    }
    &-xl-center {
      text-align: center;
    }
  }
  &-lowercase {
    text-transform: lowercase;
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-capitalize {
    text-transform: capitalize;
  }
}

.font{
  &-weight-light {
    font-weight: 300;
  }
  &-weight-normal {
    font-weight: 400;
  }
  &-weight-500 {
    font-weight:500;
  }
  &-weight-600 {
    font-weight: 600;
  }
  &-weight-bold {
    font-weight: 700;
  }
  &-italic {
    font-style: italic;
  }
}
.text{
  &-white {
    color: $white;
  }
  &-primary {
    color: $primary;
    &[href]:hover,&[href]:focus{
      color: darken($primary, 15%);
    }
  }
  &-default {
    color: $default;
    &[href]:hover,&[href]:focus{
      color: darken($default, 15%);
    }
  }
  &-secondary {
    color: $secondary;
    &[href]:hover,&[href]:focus{
      color: darken($secondary, 15%);
    }
  }
  &-success {
    color: $success;
    &[href]:hover,&[href]:focus{
      color: darken($success, 15%);
    }
  }
  &-info {
    color: $info;
    &[href]:hover,&[href]:focus{
      color: darken($info, 15%);
    }
  }
  &-warning {
    color: $warning;
    &[href]:hover,&[href]:focus{
      color: darken($warning, 15%);
    }
  }
  &-danger {
    color: $danger;
    &[href]:hover,&[href]:focus{
      color: darken($danger, 15%);
    }
  }
  &-light {
    color: $light-white;
    &[href]:hover,&[href]:focus{
      color: darken($light-white, 15%);
    }
  }
  &-dark {
    color: $dark-black;
    &[href]:hover,&[href]:focus{
      color: darken($dark-black, 15%);
    }
  }
  &-muted {
    color: $muted;
  }
  &-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

.bg{
  &-primary {
    background-color: $primary;
    &[href]:hover, 
    &[href]:focus{
      background-color: darken($primary, 15%);
      color:$white;
    }
  }
  &-secondary {
    background-color: $secondary;
    &[href]:hover, 
    &[href]:focus{
      background-color: darken($secondary, 15%);
      color:$white;
    }
  }

  &-success {
    background-color: $success;
    &[href]:hover, 
    &[href]:focus{
      background-color: darken($success, 15%);
      color:$white;
    }
  }
  &-info {
    background-color: $info;
    &[href]:hover, 
    &[href]:focus{
      background-color: darken($info, 15%);
      color:$white;
    }
  }
  &-warning {
    background-color: $warning;
    &[href]:hover, 
    &[href]:focus{
      background-color: darken($warning, 15%);
      color:$white;
    }
  }
  &-danger {
    background-color: $danger;
    &[href]:hover, 
      &[href]:focus{
        background-color: darken($danger, 15%);
        color:$white;
      }
  }
  &-light {
    background-color: $light-white;
    &[href]:hover, 
      &[href]:focus{
        background-color: darken($light-white, 15%);
      }
  }
  &-dark {
    background-color: $dark-black;
    &[href]:hover, 
      &[href]:focus{
        background-color: darken($dark-black, 15%);;
        color:$white;
      }
  }
  &-black{
    background-color: $black;
  }
  &-white {
    background-color: $white;
  }
  &-transparent {
    background-color: transparent;
  }
}
  
.border {
  @include border-all(1px, solid, $border-color);
  &-top {
    @include border('top',1px,solid,$border-color);
  }
  &-right {
    @include border('right',1px,solid,$border-color);
  }
  &-bottom {
    @include border('bottom',1px,solid,$border-color);
  }
  &-left {
    @include border('left',1px,solid,$border-color);
  }
  &-0 {
    border: 0;
  }
  &-top-0 {
    border-top: 0;
  }
  &-right-0 {
    border-right: 0;
  }
  &-bottom-0 {
    border-bottom: 0;
  }
  &-left-0 {
    border-left: 0;
  }
  &-primary {
    border-color: $primary;
  }
  &-secondary {
    border-color: $secondary;
  }
  &-success {
    border-color: $success;
  }
  &-info {
    border-color: $info;
  }
  &-warning {
    border-color: $warning;
  }
  &-danger {
    border-color: $danger;
  }
  &-light {
    border-color: $light-white;
  }
  &-dark {
    border-color: $dark-black;
  }
  &-white {
    border-color: $white;
  }
}


.rounded {
  @include border-radius(0.25rem);
  &-top {
    @include border-top-radius(0.25rem)
  }
  &-right {
    @include border-right-radius(0.25rem)
  }
  &-bottom {
    @include border-bottom-radius(0.25rem)
  }
  &-left {
    @include border-left-radius(0.25rem)
  }
  &-circle {
    @include border-radius(50%);
  }
  &-0 {
    @include border-radius(0);
  }

  &-20{
    @include border-radius(30px);
  }
}

.d {
  &-none {
    display: none;
  }
  &-inline {
    display: inline;
  }
  &-inline-block {
    display: inline-block;
  }
  &-block {
    display: block;
  }
  &-table {
    display: table;
  }
  &-table-row {
    display: table-row;
  }
  &-table-cell {
    display: table-cell;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  &:before {
    display: block;
    content: "";
  }
  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  &-21by9::before {
    @include padding(42.857143%, null, null,null);
  }
  &-16by9::before {
    @include padding(56.25%, null, null,null);
  }
  &-4by3::before {
    @include padding(75%, null, null,null);
  }
  &-1by1::before {
    @include padding(100%, null, null,null);
  }
}
.alert {
  position: relative;
  @include padding(0.75rem, 1.25rem, 0.75rem, 1.25rem);
  @include margin(null,null,1rem,null);
  @include border-all(1px,solid,transparent);
  @include border-radius(0.25rem);

  &-heading {
    color: inherit;
  }
  &-link {
    font-weight: 700;
  }
  &-dismissible {
    @include padding(null, 4rem, null,null);
    .close {
      position: absolute;
      top: 0;
      right: 0;
      @include padding(0.75rem, 1.25rem, 0.75rem, 1.25rem);
      color: inherit;
    }
  }
  &-primary {
    color: $white;
    background-color:rgba($primary, .8 );
    border-color: darken($primary, 5%);
    hr {
      border-top-color: lighten($primary, 5%);
    }
    .alert-link {
      color: #002752;
    }
  }
  &-secondary {
    color: $white;
    background-color:rgba($secondary, .8 );
    border-color: darken($secondary, 5%);
    hr {
      border-top-color: lighten($secondary, 5%);
    }
    .alert-link {
      color: #202326;
    }
  }
  &-success {
    color: $white;
    background-color:rgba($success, .8 );
    border-color: darken($success, 5%);
    hr {
      border-top-color: lighten($success, 5%);
    }
    .alert-link {
      color: #0b2e13;
    }
  }
  &-info {
    color: $white;
    background-color:rgba($info, .8 );
    border-color: darken($info, 5%);
    hr {
      border-top-color: lighten($info, 5%);
    }
    .alert-link {
      color: #062c33;
    }
  }
  &-warning {
    color: $white;
    background-color:rgba($warning, .8 );
    border-color: darken($warning, 5%);
    hr {
      border-top-color: lighten($warning, 5%);
    }
    .alert-link {
      color: #533f03;
    }
  }
  &-danger {
    color: $white;
    background-color:rgba($danger, .8 );
    border-color: darken($danger, 5%);
    hr {
      border-top-color: lighten($danger, 5%);
    }
    .alert-link {
      color: #491217;
    }
  }
  &-light {
    color: $dark-black;
    background-color:rgba($light-white, .8 );
    border-color: darken($light-white, 5%);
    hr {
      border-top-color: lighten($light-white, 5%);
    }
    .alert-link {
      color: #686868;
    }
  }
  &-dark {
    color: $white;
    background-color:rgba($dark-black, .8 );
    border-color: darken($dark-black, 5%);
    hr {
      border-top-color: lighten($dark-black, 5%);
    }
    .alert-link {
      color: #040505;
    }
  }
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;

  &:empty {
    display: none;
  }
  &-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
  }
  &-primary {
    color: $white;
    background-color: $primary;
    &[href]:hover,&[href]:focus{
      color: $white;
      text-decoration: none;
      background-color: darken($primary, 15%);
    }
  }
  &-secondary {
    color: $white;
    background-color: #6c757d;
    &[href]:hover,&[href]:focus{
      color: $white;
      text-decoration: none;
      background-color: #545b62;
    }
  }
  &-success {
    color: $white;
    background-color: $success;
    &[href]:hover,&[href]:focus{
      color: $white;
      text-decoration: none;
      background-color: #1e7e34;
    }
  }
  &-info {
    color: $white;
    background-color: $info;
    &[href]:hover,&[href]:focus{
      color: $white;
      text-decoration: none;
      background-color: #117a8b;
    }
  }
  &-warning {
    color: #212529;
    background-color: #ffc107;
    &[href]:hover,&[href]:focus{
      color: #212529;
      text-decoration: none;
      background-color: #d39e00;
    }
  }
  &-danger {
    color: $white;
    background-color: #dc3545;

    &[href]:hover,&[href]:focus{
      color: $white;
      text-decoration: none;
      background-color: #bd2130;
    }
  }
  &-light {
    color: #212529;
    background-color: #f8f9fa;

     &[href]:hover,&[href]:focus{
      color: #212529;
      text-decoration: none;
      background-color: #dae0e5;
    }
  }
  &-dark {
    color: $white;
    background-color: #343a40;
    &[href]:hover,&[href]:focus{
      color: $white;
      text-decoration: none;
      background-color: #1d2124;
    }
  }
}
.btn .badge {
  position: relative;
  top: -1px;
}
/**
 * Margin Sets
 */

$mt-number: mt;
$mr-number: mr;
$mb-number: mb;
$ml-number: ml;
$mv-number: mv;
$mh-number: mh;
$m-number: m;

$pt-number: pt;
$pr-number: pr;
$pb-number: pb;
$pl-number: pl;
$pv-number: pv;
$ph-number: ph;
$p-number: p;

$i: 0;

@while $i < 50 {
  .#{$mt-number}-#{$i} {
    margin-top: 0px + $i;
  }
  .#{$mr-number}-#{$i} {
    margin-right: 0px + $i;
  }
  .#{$mb-number}-#{$i} {
    margin-bottom: 0px + $i;
  }
  .#{$ml-number}-#{$i} {
    margin-left: 0px + $i;
  }
  .#{$mv-number}-#{$i} {
    margin-top: 0px + $i;
    margin-bottom: 0px + $i;
  }
  .#{$mh-number}-#{$i} {
    margin-left: 0px + $i;
    margin-right: 0px + $i;
  }
  .#{$m-number}-#{$i} {
    margin: 0px + $i;
  }

  
  .#{$pt-number}-#{$i} {
    padding-top: 0px + $i;
  }
  .#{$pr-number}-#{$i} {
    padding-right: 0px + $i;
  }
  .#{$pb-number}-#{$i} {
    padding-bottom: 0px + $i;
  }
  .#{$pl-number}-#{$i} {
    padding-left: 0px + $i;
  }
  .#{$pv-number}-#{$i} {
    padding-top: 0px + $i;
    padding-bottom: 0px + $i;
  }
  .#{$ph-number}-#{$i} {
    padding-left: 0px + $i;
    padding-right: 0px + $i;
  }
  .#{$p-number}-#{$i} {
    padding: 0px + $i;
  }
  
  
  $i: $i + 5;
}


.mr-1 {
    margin-right: 1px !important
}
.mr-3 {
    margin-right: 3px !important
}
.ml-1 {
    margin-left: 1px !important
}
.ml-3 {
    margin-left: 3px !important
}
.mt-1 {
    margin-top: 1px !important
}
.mt-3 {
    margin-top: 3px !important
}
.mb-1 {
    margin-bottom: 1px !important
}
.mb-3 {
    margin-bottom: 3px !important
}

@media only screen and (max-width: 991px) {
    .mb-10-sm {
        margin-bottom: 10px !important
    }
    .mb-15-sm {
        margin-bottom: 15px !important
    }
    .mb-20-sm {
        margin-bottom: 20px !important
    }
    .mb-25-sm {
        margin-bottom: 25px !important
    }
    .mb-30-sm {
        margin-bottom: 30px !important
    }
    .mb-40-sm {
        margin-bottom: 40px !important
    }
    .mb-50-sm {
        margin-bottom: 50px !important
    }
    .mt-10-sm {
        margin-top: 10px !important
    }
    .mt-15-sm {
        margin-top: 15px !important
    }
    .mt-20-sm {
        margin-top: 20px !important
    }
    .mt-25-sm {
        margin-top: 25px !important
    }
    .mt-30-sm {
        margin-top: 30px !important
    }
    .mt-40-sm {
        margin-top: 40px !important
    }
    .mt-50-sm {
        margin-top: 50px !important
    }
}

@media only screen and (max-width: 767px) {
    .mb-0-xs {
        margin-bottom: 0px !important
    }
    .mb-10-xs {
        margin-bottom: 10px !important
    }
    .mb-15-xs {
        margin-bottom: 15px !important
    }
    .mb-20-xs {
        margin-bottom: 20px !important
    }
    .mb-25-xs {
        margin-bottom: 25px !important
    }
    .mb-30-xs {
        margin-bottom: 30px !important
    }
    .mb-40-xs {
        margin-bottom: 40px !important
    }
    .mb-50-xs {
        margin-bottom: 50px !important
    }
    .mt-10-xs {
        margin-top: 10px !important
    }
    .mt-15-xs {
        margin-top: 15px !important
    }
    .mt-20-xs {
        margin-top: 20px !important
    }
    .mt-25-xs {
        margin-top: 25px !important
    }
    .mt-30-xs {
        margin-top: 30px !important
    }
    .mt-40-xs {
        margin-top: 40px !important
    }
    .mt-50-xs {
        margin-top: 50px !important
    }
}

@media (max-width: 479px) {
    .mb-0-xss {
        margin-bottom: 0px !important
    }
    .mb-10-xss {
        margin-bottom: 10px !important
    }
    .mb-15-xss {
        margin-bottom: 15px !important
    }
    .mb-20-xss {
        margin-bottom: 20px !important
    }
    .mb-25-xss {
        margin-bottom: 25px !important
    }
    .mb-30-xss {
        margin-bottom: 30px !important
    }
    .mb-40-xss {
        margin-bottom: 40px !important
    }
    .mb-50-xss {
        margin-bottom: 50px !important
    }
}


/**
 * Typography
 */
.font10 {
    font-size: 10px !important;
}
.font12 {
    font-size: 12px !important;
}
.font13 {
    font-size: 13px !important;
}
.font14 {
    font-size: 14px !important;
}
.font15 {
    font-size: 15px !important;
}
.font16 {
    font-size: 16px !important;
}
.font18 {
    font-size: 18px !important;
}
.font20 {
    font-size: 20px !important;
}
.font22 {
    font-size: 22px !important;
}
.font24 {
    font-size: 24px !important;
}
.font26 {
    font-size: 26px !important;
}
.font28 {
    font-size: 28px !important;
}
.font300 {
    font-weight: 300 !important;
}
.font400 {
    font-weight: 400 !important;
}
.font600 {
    font-weight: 600 !important;
}
.font700 {
    font-weight: 700 !important;
}
.font800 {
    font-weight: 800 !important;
}
.font900 {
    font-weight: 900 !important;
}
.line10 {
    line-height: 10px !important;
}
.line12 {
    line-height: 12px !important;
}
.line14 {
    line-height: 14px !important;
}
.line16 {
    line-height: 16px !important;
}
.line18 {
    line-height: 18px !important;
}
.line20 {
    line-height: 20px !important;
}
.line22 {
    line-height: 22px !important;
}
.line24 {
    line-height: 24px !important;
}
.line26 {
    line-height: 26px !important;
}
.line28 {
    line-height: 28px !important;
}
.line30 {
    line-height: 30px !important;
}



@media (max-width:991.99px){
    .hidden-above-md{
        display:none;
    }
    
}
@media (min-width:992px){
    .visible-under-md{
        display:none;
    }
}
@media (max-width:991.99px){
    .hidden-above-sm{
        display:none;
    }
    
}
@media (min-width:992px){
    .hidden-under-sm{
        display:none;
    }
}

@media (max-width:767.99px){
    .hidden-above-xs{
        display:none;
    }
    
}
@media (min-width:768px){
    .visible-under-xs{
        display:none;
    }
}