::-moz-selection { /* Code for Firefox */
    color: #fff;
    background-color: #f83531;
}

::selection {
    color: #fff; 
    background-color: #f83531;
}


.collapse{
  display:none;

  &.in{
    display:block;
  }
} 

.no-list-style{
  list-style:none;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
     transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
     transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
     transition-timing-function: ease;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,
    border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary{
    border-color: #f83632;
    background-color: #f83632;
    color: #fff;

    &:hover{
      background-color: transparent;
      color:#f83632;
    }
}

.btn-outline-primary {
    border: 2px solid #f83632;
    background-color: transparent;
    color: #f83632;

    &:hover{
      background-color: #f83632;
      color:#fff;
    }
}
.btn-default{
    border-color: #2bbbad;
    background-color: #2bbbad;
    color: #fff;

    &:hover{
      background-color: transparent;
      color:#2bbbad;
    }
}
.btn-outline-default {
    border: 2px solid #2bbbad;
    background-color: transparent;
    color: #2bbbad;

    &:hover{
      background-color: #2bbbad;
      color:#fff;
    }
}
.btn-secondary{
    border-color: #dd785a;
    background-color: #dd785a;
    color: #fff;

    &:hover{
      background-color: transparent;
      color:#dd785a;
    }
}
.btn-outline-secondary {
    border: 2px solid #dd785a;
    background-color: transparent;
    color: #dd785a;

    &:hover{
      background-color: #dd785a;
      color:#fff;
    }
}
.btn-sucess{
    border-color: #28a745;
    background-color: #28a745;
    color: #fff;

    &:hover{
      background-color: transparent;
      color:#28a745;
    }
}
.btn-outline-sucess {
    border: 2px solid #28a745;
    background-color: transparent;
    color: #28a745;

    &:hover{
      background-color: #28a745;
      color:#fff;
    }
}
.btn-info{
    border-color: #0069d9;
    background-color: #0069d9;
    color: #fff;

    &:hover{
      background-color: transparent;
      color:#0069d9;
    }
}
.btn-outline-info {
    border: 2px solid #0069d9;
    background-color: transparent;
    color: #0069d9;

    &:hover{
      background-color: #0069d9;
      color:#fff;
    }
}
.btn-warning{
    border-color: #f80;
    background-color: #f80;
    color: #fff;

    &:hover{
      background-color: transparent;
      color:#f80;
    }
}
.btn-outline-warning {
    border: 2px solid #f80;
    background-color: transparent;
    color: #f80;

    &:hover{
      background-color: #f80;
      color:#fff;
    }
}
.btn-danger{
    border-color: #b21f2d;
    background-color: #b21f2d;
    color: #fff;

    &:hover{
      background-color: transparent;
      color:#b21f2d;
    }
}
.btn-outline-danger {
    border: 2px solid #b21f2d;
    background-color: transparent;
    color: #b21f2d;

    &:hover{
      background-color: #b21f2d;
      color:#fff;
    }
}

.btn-black{
    border-color: #000;
    background-color: #000;
    color: #fff;

    &:hover{
      background-color: transparent;
      color:#000;
    }
}
.btn-outline-black {
    border: 2px solid #000;
    background-color: transparent;
    color: #000;

    &:hover{
      background-color: #000;
      color:#fff;
    }
}

.btn-lg{
  padding:0.7rem 2rem;
}
.btn-sm{
  padding:0.4rem 1rem;
}

.btn-rounded{
  border-radius:30px;
}
.btn.disabled{
    pointer-events: none;
    opacity: .65;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}

.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
@media (min-width: 576px) {
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-center {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-center {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-center {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left;
  }
  .text-xl-right {
    text-align: right;
  }
  .text-xl-center {
    text-align: center;
  }
}
.text{
  &-lowercase {
    text-transform: lowercase;
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-capitalize {
    text-transform: capitalize;
  }
}

.font{
  &-weight-light {
    font-weight: 300;
  }
  &-weight-normal {
    font-weight: 400;
  }
  &-weight-500 {
    font-weight:500;
  }
  &-weight-600 {
    font-weight: 600;
  }
  &-weight-bold {
    font-weight: 700;
  }
  &-italic {
    font-style: italic;
  }
}


.text{
  &-white {
    color: #fff;
  }
  &-primary {
    color: #f44335;
    &[href]:hover,&[href]:focus{
      color: #0062cc;
    }
  }
  &-secondary {
    color: #6c757d;
    &[href]:hover,&[href]:focus{
      color: #545b62;
    }
  }
  &-success {
    color: #28a745;
    &[href]:hover,&[href]:focus{
      color: #1e7e34;
    }
  }
  &-info {
    color: #17a2b8;
    &[href]:hover,&[href]:focus{
      color: #117a8b;
    }
  }
  &-warning {
    color: #ffc107;
    &[href]:hover,&[href]:focus{
      color: #d39e00;
    }
  }
  &-danger {
    color: #dc3545;
    &[href]:hover,&[href]:focus{
      color: #bd2130;
    }
  }
  &-light {
    color: #f8f9fa;
    &[href]:hover,&[href]:focus{
      color: #dae0e5;
    }
  }
  &-dark {
    color: #333;
    &[href]:hover,&[href]:focus{
      color: #1d2124;
    }
  }
  &-muted {
    color: #6c757d;
  }
  &-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

.bg-primary {
  background-color: #f44335;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #0062cc;
}

.bg-secondary {
  background-color: #6c757d;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #545b62;
}

.bg-success {
  background-color: #28a745;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #1e7e34;
}

.bg-info {
  background-color: #17a2b8;
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #117a8b;
}

.bg-warning {
  background-color: #ffc107;
}

a.bg-warning:hover, a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #d39e00;
}

.bg-danger {
  background-color: #dc3545;
}

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #bd2130;
}

.bg-light {
  background-color: #f8f9fa;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5;
}

.bg-dark {
  background-color: #343a40;
}
.bg-black{
  background-color: #000;
}
a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #1d2124;
}

.bg-white {
  background-color: #fff;
}

.bg-transparent {
  background-color: transparent;
}

.border {
  border: 1px solid #dee2e6;
  &-top {
    border-top: 1px solid #dee2e6;
  }
  &-right {
    border-right: 1px solid #dee2e6;
  }
  &-bottom {
    border-bottom: 1px solid #dee2e6;
  }
  &-left {
    border-left: 1px solid #dee2e6;
  }
  &-0 {
    border: 0;
  }
  &-top-0 {
    border-top: 0;
  }
  &-right-0 {
    border-right: 0;
  }
  &-bottom-0 {
    border-bottom: 0;
  }
  &-left-0 {
    border-left: 0;
  }
  &-primary {
    border-color: #f44335;
  }
  &-secondary {
    border-color: #6c757d;
  }
  &-success {
    border-color: #28a745;
  }
  &-info {
    border-color: #17a2b8;
  }
  &-warning {
    border-color: #ffc107;
  }
  &-danger {
    border-color: #dc3545;
  }
  &-light {
    border-color: #f8f9fa;
  }
  &-dark {
    border-color: #343a40;
  }
  &-white {
    border-color: #fff;
  }
}


.rounded {
  border-radius: 0.25rem;
  &-top {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  &-right {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  &-bottom {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  &-left {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  &-circle {
    border-radius: 50%;
  }
  &-0 {
    border-radius: 0;
  }
}




.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.d {
  &-none {
    display: none;
  }
  &-inline {
    display: inline;
  }
  &-inline-block {
    display: inline-block;
  }
  &-block {
    display: block;
  }
  &-table {
    display: table;
  }
  &-table-row {
    display: table-row;
  }
  &-table-cell {
    display: table-cell;
  }
}


.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  &-heading {
    color: inherit;
  }
  &-link {
    font-weight: 700;
  }
  &-dismissible {
    padding-right: 4rem;
    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.75rem 1.25rem;
      color: inherit;
    }
  }
  &-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    hr {
      border-top-color: #9fcdff;
    }
    .alert-link {
      color: #002752;
    }
  }
  &-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
    hr {
      border-top-color: #c8cbcf;
    }
    .alert-link {
      color: #202326;
    }
  }
  &-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    hr {
      border-top-color: #b1dfbb;
    }
    .alert-link {
      color: #0b2e13;
    }
  }
  &-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    hr {
      border-top-color: #abdde5;
    }
    .alert-link {
      color: #062c33;
    }
  }
  &-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    hr {
      border-top-color: #ffe8a1;
    }
    .alert-link {
      color: #533f03;
    }
  }
  &-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
     hr {
      border-top-color: #f1b0b7;
    }
    .alert-link {
      color: #491217;
    }
  }
  &-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
    hr {
      border-top-color: #ececf6;
    }
    .alert-link {
      color: #686868;
    }
  }
  &-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
    hr {
      border-top-color: #b9bbbe;
    }
    .alert-link {
      color: #040505;
    }
  }
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;

  &:empty {
    display: none;
  }
  &-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
  }
  &-primary {
    color: #fff;
    background-color: #f44335;
    &[href]:hover,&[href]:focus{
      color: #fff;
      text-decoration: none;
      background-color: #0062cc;
    }
  }
  &-secondary {
    color: #fff;
    background-color: #6c757d;
    &[href]:hover,&[href]:focus{
      color: #fff;
      text-decoration: none;
      background-color: #545b62;
    }
  }
  &-success {
    color: #fff;
    background-color: #28a745;
    &[href]:hover,&[href]:focus{
      color: #fff;
      text-decoration: none;
      background-color: #1e7e34;
    }
  }
  &-info {
    color: #fff;
    background-color: #17a2b8;
    &[href]:hover,&[href]:focus{
      color: #fff;
      text-decoration: none;
      background-color: #117a8b;
    }
  }
  &-warning {
    color: #212529;
    background-color: #ffc107;
    &[href]:hover,&[href]:focus{
      color: #212529;
      text-decoration: none;
      background-color: #d39e00;
    }
  }
  &-danger {
    color: #fff;
    background-color: #dc3545;

    &[href]:hover,&[href]:focus{
      color: #fff;
      text-decoration: none;
      background-color: #bd2130;
    }
  }
  &-light {
    color: #212529;
    background-color: #f8f9fa;

     &[href]:hover,&[href]:focus{
      color: #212529;
      text-decoration: none;
      background-color: #dae0e5;
    }
  }
  &-dark {
    color: #fff;
    background-color: #343a40;
    &[href]:hover,&[href]:focus{
      color: #fff;
      text-decoration: none;
      background-color: #1d2124;
    }
  }
}
.btn .badge {
  position: relative;
  top: -1px;
}
/**
 * Margin Sets
 */

$mt-number: mt !default;
$mr-number: mr !default;
$mb-number: mb !default;
$ml-number: ml !default;
$mv-number: mv !default;
$mh-number: mh !default;
$m-number: m !default;

$pt-number: pt !default;
$pr-number: pr !default;
$pb-number: pb !default;
$pl-number: pl !default;
$pv-number: pv !default;
$ph-number: ph !default;
$p-number: p !default;

$i: 0;

@while $i < 50 {
  .#{$mt-number}-#{$i} {
    margin-top: 0px + $i;
  }
  .#{$mr-number}-#{$i} {
    margin-right: 0px + $i;
  }
  .#{$mb-number}-#{$i} {
    margin-bottom: 0px + $i;
  }
  .#{$ml-number}-#{$i} {
    margin-left: 0px + $i;
  }
  .#{$mv-number}-#{$i} {
    margin-top: 0px + $i;
    margin-bottom: 0px + $i;
  }
  .#{$mh-number}-#{$i} {
    margin-left: 0px + $i;
    margin-right: 0px + $i;
  }
  .#{$m-number}-#{$i} {
    margin: 0px + $i;
  }

  
  .#{$pt-number}-#{$i} {
    padding-top: 0px + $i;
  }
  .#{$pr-number}-#{$i} {
    padding-right: 0px + $i;
  }
  .#{$pb-number}-#{$i} {
    padding-bottom: 0px + $i;
  }
  .#{$pl-number}-#{$i} {
    padding-left: 0px + $i;
  }
  .#{$pv-number}-#{$i} {
    padding-top: 0px + $i;
    padding-bottom: 0px + $i;
  }
  .#{$ph-number}-#{$i} {
    padding-left: 0px + $i;
    padding-right: 0px + $i;
  }
  .#{$p-number}-#{$i} {
    padding: 0px + $i;
  }
  
  
  $i: $i + 5;
}


.mr-1 {
    margin-right: 1px !important
}
.mr-3 {
    margin-right: 3px !important
}
.ml-1 {
    margin-left: 1px !important
}
.ml-3 {
    margin-left: 3px !important
}
.mt-1 {
    margin-top: 1px !important
}
.mt-3 {
    margin-top: 3px !important
}
.mb-1 {
    margin-bottom: 1px !important
}
.mb-3 {
    margin-bottom: 3px !important
}

@media only screen and (max-width: 991px) {
    .mb-10-sm {
        margin-bottom: 10px !important
    }
    .mb-15-sm {
        margin-bottom: 15px !important
    }
    .mb-20-sm {
        margin-bottom: 20px !important
    }
    .mb-25-sm {
        margin-bottom: 25px !important
    }
    .mb-30-sm {
        margin-bottom: 30px !important
    }
    .mb-40-sm {
        margin-bottom: 40px !important
    }
    .mb-50-sm {
        margin-bottom: 50px !important
    }
    .mt-10-sm {
        margin-top: 10px !important
    }
    .mt-15-sm {
        margin-top: 15px !important
    }
    .mt-20-sm {
        margin-top: 20px !important
    }
    .mt-25-sm {
        margin-top: 25px !important
    }
    .mt-30-sm {
        margin-top: 30px !important
    }
    .mt-40-sm {
        margin-top: 40px !important
    }
    .mt-50-sm {
        margin-top: 50px !important
    }
}

@media only screen and (max-width: 767px) {
    .mb-0-xs {
        margin-bottom: 0px !important
    }
    .mb-10-xs {
        margin-bottom: 10px !important
    }
    .mb-15-xs {
        margin-bottom: 15px !important
    }
    .mb-20-xs {
        margin-bottom: 20px !important
    }
    .mb-25-xs {
        margin-bottom: 25px !important
    }
    .mb-30-xs {
        margin-bottom: 30px !important
    }
    .mb-40-xs {
        margin-bottom: 40px !important
    }
    .mb-50-xs {
        margin-bottom: 50px !important
    }
    .mt-10-xs {
        margin-top: 10px !important
    }
    .mt-15-xs {
        margin-top: 15px !important
    }
    .mt-20-xs {
        margin-top: 20px !important
    }
    .mt-25-xs {
        margin-top: 25px !important
    }
    .mt-30-xs {
        margin-top: 30px !important
    }
    .mt-40-xs {
        margin-top: 40px !important
    }
    .mt-50-xs {
        margin-top: 50px !important
    }
}

@media (max-width: 479px) {
    .mb-0-xss {
        margin-bottom: 0px !important
    }
    .mb-10-xss {
        margin-bottom: 10px !important
    }
    .mb-15-xss {
        margin-bottom: 15px !important
    }
    .mb-20-xss {
        margin-bottom: 20px !important
    }
    .mb-25-xss {
        margin-bottom: 25px !important
    }
    .mb-30-xss {
        margin-bottom: 30px !important
    }
    .mb-40-xss {
        margin-bottom: 40px !important
    }
    .mb-50-xss {
        margin-bottom: 50px !important
    }
}


/**
 * Typography
 */
.font10 {
    font-size: 10px !important;
}
.font12 {
    font-size: 12px !important;
}
.font13 {
    font-size: 13px !important;
}
.font14 {
    font-size: 14px !important;
}
.font15 {
    font-size: 15px !important;
}
.font16 {
    font-size: 16px !important;
}
.font18 {
    font-size: 18px !important;
}
.font20 {
    font-size: 20px !important;
}
.font22 {
    font-size: 22px !important;
}
.font24 {
    font-size: 24px !important;
}
.font26 {
    font-size: 26px !important;
}
.font28 {
    font-size: 28px !important;
}
.font300 {
    font-weight: 300 !important;
}
.font400 {
    font-weight: 400 !important;
}
.font600 {
    font-weight: 600 !important;
}
.font700 {
    font-weight: 700 !important;
}
.font800 {
    font-weight: 800 !important;
}
.font900 {
    font-weight: 900 !important;
}
.line10 {
    line-height: 10px !important;
}
.line12 {
    line-height: 12px !important;
}
.line14 {
    line-height: 14px !important;
}
.line16 {
    line-height: 16px !important;
}
.line18 {
    line-height: 18px !important;
}
.line20 {
    line-height: 20px !important;
}
.line22 {
    line-height: 22px !important;
}
.line24 {
    line-height: 24px !important;
}
.line26 {
    line-height: 26px !important;
}
.line28 {
    line-height: 28px !important;
}
.line30 {
    line-height: 30px !important;
}



@media (max-width:991.99px){
    .hidden-above-md{
        display:none;
    }
    
}
@media (min-width:992px){
    .visible-under-md{
        display:none;
    }
}
@media (max-width:991.99px){
    .hidden-above-sm{
        display:none;
    }
    
}
@media (min-width:992px){
    .hidden-under-sm{
        display:none;
    }
}
